# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [85]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [60]:
weatherdata = pd.read_csv("Weather_Summary.csv")
weatherdata.dropna()

,City,Cloudiness,Country,Date,Humidity,Latitude,Longitude,Max Temp,Wind Speed
0,Bollnäs,71,SE,1584226879,66,61.35,16.39,29.17,13.71
1,Avarua,26,CK,1584226879,74,-21.21,-159.78,84.20,6.93
2,Rikitea,0,PF,1584226880,78,-23.12,-134.97,78.26,12.12
3,Ponta do Sol,75,PT,1584226881,77,32.67,-17.10,59.00,8.05
4,Hilo,90,US,1584226881,78,19.73,-155.09,77.00,6.93
...,...,...,...,...,...,...,...,...,...
565,Santa Isabel Rio Negro,96,BR,1584226990,79,-0.41,-65.02,79.63,1.92
566,Ubari,0,LY,1584226990,20,26.59,12.78,60.78,7.81
567,Kaseda-shirakame,75,JP,1584226991,74,31.42,130.32,46.40,6.93
568,Lerwick,75,GB,1584226991,87,60.15,-1.15,44.60,18.34
569,Nushki,94,PK,1584226991,21,29.55,66.02,57.90,5.68

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [61]:
gmaps.configure(api_key=g_key)

In [62]:
locations = weatherdata[["Latitude", "Longitude"]].astype(float)

#Weight
humidity = weatherdata["Humidity"].astype(float)

In [63]:
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 2)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [ ]:
#Narrow down the DataFrame to find your ideal weather condition. For example:
#A max temperature lower than 80 degrees but higher than 70.
#Wind speed less than 10 mph.
#Zero cloudiness.
#Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal.
#Note: Feel free to adjust to your specifications but be sure to limit the number of rows 
#returned by your API requests to a reasonable number.

In [83]:
cols = ("City","Max Temp","Cloudiness","Wind Speed")
weather_criteria = weatherdata.loc[(weatherdata["Cloudiness"] == 0) & (weatherdata["Wind Speed"] <= 10) & 
                                   (weatherdata["Max Temp"] <= 80) & (weatherdata["Max Temp"] >= 70)]

In [84]:
weather_criteria

,City,Cloudiness,Country,Date,Humidity,Latitude,Longitude,Max Temp,Wind Speed
72,Kaeo,0,NZ,1584226901,58,-35.10,173.78,75.00,1.99
194,Wukari,0,NG,1584226924,15,7.85,9.78,73.26,4.03
372,Inhambane,0,MZ,1584226956,82,-23.86,35.38,77.63,6.55
373,Emerald,0,AU,1584226957,60,-23.53,148.17,77.00,8.05
468,Masterton,0,NZ,1584226974,67,-40.96,175.66,71.01,4.00

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [118]:
#Using Google Places API to find the first hotel for each city located within 5000 meters of your coordinates.
hotel_df = weatherdata.loc[:,{"City","Latitude","Longitude","Country"}]
hotel_df["Hotel Name"] = ""

In [132]:
parameters = {"types":"hotels","keyword":"hotels","radius":5000,"key":g_key}

In [136]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
response = requests.get(base_url, params=parameters).json()
print(json.dumps(response, indent=4, sort_keys=True))

{
    "html_attributions": [],
    "results": [],
    "status": "INVALID_REQUEST"
}

In [124]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

NameError: name 'narrowed_city_df' is not defined

In [ ]:
# Add marker layer ontop of heat map


# Display Map